.home-button {
    display: flex;
    align-items: center;
}

.button-text {
    margin-left: 8px; /* Adjust as needed */
    margin-bottom: 10px;
}

.mdc-list-item.mdc-list-item--with-one-line .mdc-list-item__start {
    align-self: center;
    margin-top: 0;
    margin-right: 13px;
    margin-bottom: 5px;
    color: black;
}

