
   
    <mat-card class="mt10">
      <h1 class="mt20 text-center ;" style="font-size: xx-large; font-weight: bold;">Welcome to the Admin Page</h1>
      <div class="image-wrapper" style="margin-bottom: 40px;">
        <img class="centered-image " src="../../../../assets/home.png" alt="Home Image">

       
    </div>
    <p style="font-size: larger; font-weight: bolder; margin-bottom: 30px;" class="text-center">
      Welcom to Admin page here you can create Categories , Quizzes based on the categories and Quiz Questions
 
 
         </p>
    </mat-card>
  
    
    
      
       
      
